doctype html
html
  head
    link(href="http://fonts.googleapis.com/css?family=Tangerine", rel="stylesheet", type="text/css")
    link(rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
    link(rel="stylesheet" type="text/css" href="/styles/style.css")
    title= title
  body
    nav(class="navbar navbar-default")
      div(class="container-fluid")
        ul(class="nav navbar-nav")
          li(class="active")
            a(href="/", title="Home").class Home
          li
            a(href="https://github.com/branc116", title="GitHub").class GitHub
          li
            a(href="/info", title="Info").class Info
    div(class="container")
      div(class="head trans")
      div(class="about trans")
        div(class="container-about")
          div(class="pic")
            img(class="img-rounded pic" src= userData.image.uri alt="")
          div(class="name")
            p= userData.name
          div(class="lastname")
            p= userData.lastName
      div(class="content trans")
        block content
      div(class="footer trans")
        ul(class="list-group links")
          each val in userKeys
            if val
              li(class="list-group-item")
                a(class="btn btn-info btn-big glyphicon", href= userData.contactInfo[val] title= userData.contactInfo[val]).class= val
  footer(class="footer myfooter")
      div(class="container")
        p(class="text mutted") Branimir Ričko © Apache License Version 2.0